fastapi
uvicorn[standard]
SQLAlchemy>=1.4.54,<2.0
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
pydantic>=2.10,<3
asyncpg
python-multipart
aiofiles
aiortc
python-dotenv
firebase-admin
httpx
